.enquiry-container{
    background-image: url('/images/home/enquirybg.jpg');
    padding-top: 50px;
    padding-bottom:50px;
    background-size: cover;
    box-shadow: 
    rgba(0,0,0, 0.25) 0px 30px 60px -12px inset, 
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset,
    rgba(0,0,0, 0.25) 0px -30px 60px -12px inset, 
    rgba(0, 0, 0, 0.3) 0px -18px 36px -18px inset;
  
}