.container{
    background-color: #eff5fb;
    border-radius: 30px;
}

.content-container{
    height: 600px;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: orange #ffffff; /* Thumb and track color */
}

.content-container p{
    line-height: 1.5;
    font-size: 20px;
}

