@keyframes borderAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.counter-bg {
    position: relative;
    background-image: url('/images/home/counter-bg.webp');
    background-size: cover;
    padding: 10px;
    padding-bottom: 20px;
}

.counter-bg::before {
    content: "";
    position: absolute;
    top: -5px; /* Adjust according to border thickness */
    left: 0;
    width: 100%;
    height: 5px; /* Match the border thickness */
    background: linear-gradient(90deg, 
        #ff1493, #1e90ff, 
        #ff1493, #1e90ff, 
        #ff1493, #1e90ff
    );
    background-size: 300% 100%;
    animation: borderAnimation 10s linear infinite;
}
