.container {
  background-image: url("/images/home/connect-with-members.webp");
  padding: 50px;
  padding-bottom: 20px;
  background-size: cover;
}

.members-section {
  padding: 20px;
  background-color: #012f6b;
  border-radius: 30px;
}

.members-section p {
  line-height: 1.5;
  font-size: 18px;
}

.card {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 10px;
}
.card-header img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: #0099ff 2px solid;
}
.card-body {
  padding: 16px;
  position: relative;
}
.quote-icon {
  width: 32px;
  height: 32px;
  background: #0099ff;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  position: absolute;
  top: -16px;
  left: 16px;
  font-weight: bold;
}
.description {
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  line-height: 1.5;
}
.name {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
}
.position {
  font-size: 14px;
  color: gray;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 20px;
        padding-bottom: 20px;
      }
}
